<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944608442870-f1ef4v00md2a5ktmt78q1v504a0prcgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944608442870-f1ef4v00md2a5ktmt78q1v504a0prcgr</string>
	<key>API_KEY</key>
	<string>AIzaSyD79_W79DXIsaQ76SKHcIfM8lD692enjzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>944608442870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seda</string>
	<key>PROJECT_ID</key>
	<string>seda-medical-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>seda-medical-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944608442870:ios:44ae40626eebaa5b792fd7</string>
</dict>
</plist>